
$f-family: 'Roboto', sans-serif;

$fsize-bace: 18px;
$fsize-26: 26px;
$fsize-title: 46px;
$white:#ffffff;
$yelow: #e0bf22;
$blue: #2e4ed6;
$yelow-dark: #c6a817;
$col-lt-grey: #afb0b5;
$col-lt-grey-text:#94969d;
$col-lt-grey-line:#d0d2d8;
$col-ft-text:#b9bbc2;
$fcolor-bace: #363946;
$bg-darkgrey:#363946;
$bg-darkgrey-lt: rgba(54,57,70,0.6);
$col-more-line: rgba(46,78,214,0.2);

$maxwidth: 1920px;


* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

/* footer внизу страницы*/
html{
	height: 100%;
}
body{
	height: 100%;
	margin:0 0;
	padding: 0 0;
	font-family: $f-family;
	font-size: $fsize-bace;
	color:$fcolor-bace;
	min-width: 1004px;
}
.wrapper{
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;

	max-width: $maxwidth;
	margin: 0 auto;
}
.wrapper:after{
	content:"";
	height: 205px;
	display: block;
}
.page-footer{
	height: 205px;
	margin: 0 auto;
	margin-top: -205px;

	max-width: $maxwidth;
}
/* /footer внизу страницы*/
:focus {
	outline:none;
}
a{
	text-decoration: none;	
}

img {
	max-width: 100%;
}
ul{
	margin: 0 0;
	padding: 0 0;
}
li{
	list-style: none;
}
figure{
	margin: 0;
}
.transition{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.wrp{
	
	max-width: 1200px;
	margin: 0 auto;
	padding:0px 10px;
}

.block-bg{
	background-image: url(../img/bg_main.jpg);
	background-position: top center;
}

/*header*/
.header{
	position: relative;
	overflow: hidden;
	max-height: 990px;

}
.blk-top{
	@extend .clearfix;
	position:absolute;
	top:0;
	left:0;
	height:140px;
	background-color: $bg-darkgrey-lt;

	&:after{
		content: '';
		width: 0;
	    height: 0;
	    border-top: 140px solid $bg-darkgrey-lt;; 
	    border-right: 38px solid transparent;
	    position: absolute;
	    right: -38px;

	}
}
.navigation{
	float: left;
	background-color: $bg-darkgrey;
	background-image: url(../img/ico_nav.png);
	background-repeat: no-repeat;
	background-position: 58px 58px;
	padding: 58px;
	cursor: pointer;
	&-text{
		@extend .transition;
		color: $col-lt-grey;
		text-transform: uppercase;
		font-size: $fsize-26;
		line-height: 0;
		padding-left: 45px;
	}

	&-list{
		display: none;
	}
	&:hover{
		.navigation-text{
			color: #fff;
		}
	}
}
.contrl-blk{
	float: left;

	&-btn{
		@extend .transition;
		display: block;
		float: left;
		width: 70px;
		height: 140px;
		background-color: $yelow;
		background-image: url(../img/ico_slider_nav.png);
		background-repeat: no-repeat;
		cursor:pointer;
		&:hover{
			background-color: $yelow-dark;
		}

	}

	.prev{
		background-position: 25px center;
		border-right: 1px solid $white;
	}
	.next{
		background-position: -40px center;
	}
}
.title-portf{
	float: left;
	color: $white;
	text-transform: uppercase;
	line-height: 1;
	padding: 55px 32px 10px 55px;
	font-size: $fsize-26;
}

.blk-share{
	@extend .clearfix;
	position: absolute;
	top:270px;
	right:-350px;
	background-color: $blue;
	color:$white;
	font-size: $fsize-26;
	padding:25px;
	cursor:pointer;

	&-ico{
		float: left;
		width: 26px;
		height: 22px;
		margin: 14px 20px 0px 20px;
		background-image: url(../img/ico_bl_share.png);
		background-position: 0px 0px;
		background-repeat: no-repeat;
		
	}
	&.active{
		.blk-share-ico{
			background-position: -126px 0px;
			
		}
	}
	&-text{
		float: left;
		line-height: 1;
		text-transform: uppercase;
		padding-top: 14px;
	}
	&-soc{
		float: left;
		&-link{
			@extend .transition;
			display: block;
			float: left;
			width:50px;
			height:50px;
			background-image: url(../img/ico_soc.png);
			background-repeat: no-repeat;
			margin-left: 20px;
			&:hover{
				background-color: $bg-darkgrey;
			}
		}
			.instagram{
				background-position: 0px 0px;
			}
			.vk{
				background-position: -150px 0px;
			}
	}

}

.blk-line-slider{
	height: 100px;
	background-color: $bg-darkgrey-lt;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.bx-wrapper{
	margin: 0 0;
	padding: 0 0;
	border: 0px solid #fff;
	.bx-pager{
		bottom: 25px;
		z-index: 1;
		&.bx-default-pager a.active{
			background: #fff;
		}
	}
	.bx-controls-direction a{
		bottom: 40px;
		top:auto;
		background-image: url(../img/ico_slider_nav.png);
		background-repeat: no-repeat;
		width: 12px;
		height:21px;

	}
	.bx-next{
		background-position: -70px 0px;
		right:45px;
	}
	.bx-prev{
		background-position: 0px 0px;
		left:45px;
	}

}

/* /header*/

/* content*/
.blk-indicators{
	@extend .clearfix;
	padding: 60px 0px 74px 0px;
	&-wrp{
		max-width: 37%;
		height: 220px;
		margin: 0 auto;
		border-left: 1px solid $col-lt-grey-line;
		padding: 0 4% 0px 5%;

		&:first-child{
			float: left;
			border-left: 0px solid $col-lt-grey-line;
			padding-left: 0px;
			max-width: 33%;
		}

		&:nth-child(2){
			float: right;
			padding-right: 0px;
			padding-right: 0;
			max-width: 30%;
		}
	}

	&-item{
		padding: 20px 0px;	
	}
	&-title{
		font-size: $fsize-26;
	}
	&-info{
		opacity: 0.6;
	}
}
.line-title-blk{
	content:'';
	width: 100px;
	height:4px;
	background-color: $blue;
	position: absolute;
	bottom: 0;
	left:0;
}
.content{
	&-text{
		line-height: 1.8;
	}
}
.blk-title{
	font-size: $fsize-title;
	font-weight: 500;
	position:relative;
	padding-bottom: 30px;
	
	&.st-1{
		&:after{
			@extend .line-title-blk;
			background-color: $blue;
		}	
	}

	&.st-2{
		&:after{
			@extend .line-title-blk;
			background-color: $yelow;
		}
	}
}
	
.blk-read-more{
	color: $blue;
	overflow: hidden;
	cursor: pointer;
	padding-bottom: 30px;

	&-text{
		display: block;
		float: left;
	}
	&-ico{
		float: left;
		margin: 10px 10px 0px 10px;
		width: 14px;
		height: 8px;
		background-image: url(../img/ico_more.png);
		background-repeat: no-repeat;

		&:after{
			content:'';
			float: left;
			width: 1000px;
			height:1px;
			margin:4px 0px 0px 30px;
			background-color: $col-more-line;

		}		
	}
}
.blk-read-more.active .blk-read-more-ico{
	background-position: -64px 0;
}

.blk-humans{
	@extend .clearfix;
	padding-bottom: 95px;
	&-item{
		width: 33.3%;
		float: left;
		text-align: center;
	}
	&-position{
		display: block;
		color:$col-lt-grey-text;
		line-height: 1.6;
	}
	&-name{
		font-size: $fsize-26;
	}
	&-wrp{
		overflow:hidden;
		width:150px;
		height: 150px;
		margin:0 auto 28px auto;
		-webkit-border-radius: 75px;
		border-radius: 75px;
	}
		
}
.btn-slider{
	height:680px;
	width:100%;
	overflow: hidden;
	overflow-x:scroll;

	&-wrp{
		width: 2560px;
	}
	&-item{
		float: left;
	}
	&-img{
		float: left;
	}
}
.jspHorizontalBar{
	height: 40px;
}
.jspDrag{
	background-color: $yelow;
	background-image: url(../img/ico_slider_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
}
	
/* /content*/

/*footer*/
.footer{
	color:$col-ft-text;
	background-color: $bg-darkgrey;
	background-image: url(../img/bg_footer.jpg);
	background-position: top center;
	position: relative;
	z-index: 1;
	padding-top: 45px;

	&-text{
		text-align: center;
		padding-top: 20px;
	}
}
.f-menu-wrp{
	@extend .clearfix;
	border-bottom: 1px solid #505566;
	padding: 0px 2% 30px 2%;
}
.contacts{
	float: right;
	&-tel{
		@extend .transition;
		color:$col-ft-text;
		font-size: $fsize-26;
		font-style: normal;

		&:hover{
			color:$white;
		}
	}
}
.blk-soc{
	float: right;
	margin-left: 35px;
	&-item{
		float: right;
	}
	&-link{
		@extend .transition;
		display: block;
		width: 40px;
		height:40px;
		float: right;
		margin-left: 2px;
		background-image: url(../img/ico_soc_footer.png);
		background-repeat: no-repeat;
		position: relative;
		
		&:hover{
			top: 1px;
		}
		&.odnkl{
			background-position: -270px 0px;
		}
		&.inst{
			background-position: -180px 0px;
		}
		&.vk{
			background-position: -90px 0px;
		}
		&.fb{
			background-position: 0px 0px;
		}

	}
}
.ftr-nav{
	color:$col-ft-text;
	&-blk{

		&-item{
			float: left;
			margin-left: 4%;
			&:first-child{
				margin-left: 0;
			}
		}
		&-link{
			@extend .transition;
			float: left;
			color:$col-ft-text;
			font-size: $fsize-26;

			&:hover{
				color:$white;
			}

		}

	}
}

/*/footer*/

@media (max-width: 1200px) {
	.title-portf{
		font-size: 20px;
	}
}