@charset "UTF-8";
* {
  box-sizing: border-box; }

.clearfix:before,
.blk-top:before,
.blk-share:before,
.blk-indicators:before,
.blk-humans:before,
.f-menu-wrp:before,
.clearfix:after, .blk-top:after, .blk-share:after, .blk-indicators:after, .blk-humans:after, .f-menu-wrp:after {
  content: " ";
  display: table; }

.clearfix:after, .blk-top:after, .blk-share:after, .blk-indicators:after, .blk-humans:after, .f-menu-wrp:after {
  clear: both; }

/* footer внизу страницы*/
html {
  height: 100%; }

body {
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #363946;
  min-width: 1004px; }

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto; }

.wrapper:after {
  content: "";
  height: 205px;
  display: block; }

.page-footer {
  height: 205px;
  margin: 0 auto;
  margin-top: -205px;
  max-width: 1920px; }

/* /footer внизу страницы*/
:focus {
  outline: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

ul {
  margin: 0 0;
  padding: 0 0; }

li {
  list-style: none; }

figure {
  margin: 0; }

.transition, .navigation-text, .contrl-blk-btn, .blk-share-soc-link, .contacts-tel, .blk-soc-link, .ftr-nav-blk-link {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.wrp {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 10px; }

.block-bg {
  background-image: url(../img/bg_main.jpg);
  background-position: top center; }

/*header*/
.header {
  position: relative;
  overflow: hidden;
  max-height: 990px; }

.blk-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 140px;
  background-color: rgba(54, 57, 70, 0.6); }
  .blk-top:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 140px solid rgba(54, 57, 70, 0.6);
    border-right: 38px solid transparent;
    position: absolute;
    right: -38px; }

.navigation {
  float: left;
  background-color: #363946;
  background-image: url(../img/ico_nav.png);
  background-repeat: no-repeat;
  background-position: 58px 58px;
  padding: 58px;
  cursor: pointer; }
  .navigation-text {
    color: #afb0b5;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 0;
    padding-left: 45px; }
  .navigation-list {
    display: none; }
  .navigation:hover .navigation-text {
    color: #fff; }

.contrl-blk {
  float: left; }
  .contrl-blk-btn {
    display: block;
    float: left;
    width: 70px;
    height: 140px;
    background-color: #e0bf22;
    background-image: url(../img/ico_slider_nav.png);
    background-repeat: no-repeat;
    cursor: pointer; }
    .contrl-blk-btn:hover {
      background-color: #c6a817; }
  .contrl-blk .prev {
    background-position: 25px center;
    border-right: 1px solid #ffffff; }
  .contrl-blk .next {
    background-position: -40px center; }

.title-portf {
  float: left;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1;
  padding: 55px 32px 10px 55px;
  font-size: 26px; }

.blk-share {
  position: absolute;
  top: 270px;
  right: -350px;
  background-color: #2e4ed6;
  color: #ffffff;
  font-size: 26px;
  padding: 25px;
  cursor: pointer; }
  .blk-share-ico {
    float: left;
    width: 26px;
    height: 22px;
    margin: 14px 20px 0px 20px;
    background-image: url(../img/ico_bl_share.png);
    background-position: 0px 0px;
    background-repeat: no-repeat; }
  .blk-share.active .blk-share-ico {
    background-position: -126px 0px; }
  .blk-share-text {
    float: left;
    line-height: 1;
    text-transform: uppercase;
    padding-top: 14px; }
  .blk-share-soc {
    float: left; }
    .blk-share-soc-link {
      display: block;
      float: left;
      width: 50px;
      height: 50px;
      background-image: url(../img/ico_soc.png);
      background-repeat: no-repeat;
      margin-left: 20px; }
      .blk-share-soc-link:hover {
        background-color: #363946; }
    .blk-share-soc .instagram {
      background-position: 0px 0px; }
    .blk-share-soc .vk {
      background-position: -150px 0px; }

.blk-line-slider {
  height: 100px;
  background-color: rgba(54, 57, 70, 0.6);
  position: absolute;
  width: 100%;
  bottom: 0; }

.bx-wrapper {
  margin: 0 0;
  padding: 0 0;
  border: 0px solid #fff; }
  .bx-wrapper .bx-pager {
    bottom: 25px;
    z-index: 1; }
    .bx-wrapper .bx-pager.bx-default-pager a.active {
      background: #fff; }
  .bx-wrapper .bx-controls-direction a {
    bottom: 40px;
    top: auto;
    background-image: url(../img/ico_slider_nav.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 21px; }
  .bx-wrapper .bx-next {
    background-position: -70px 0px;
    right: 45px; }
  .bx-wrapper .bx-prev {
    background-position: 0px 0px;
    left: 45px; }

/* /header*/
/* content*/
.blk-indicators {
  padding: 60px 0px 74px 0px; }
  .blk-indicators-wrp {
    max-width: 37%;
    height: 220px;
    margin: 0 auto;
    border-left: 1px solid #d0d2d8;
    padding: 0 4% 0px 5%; }
    .blk-indicators-wrp:first-child {
      float: left;
      border-left: 0px solid #d0d2d8;
      padding-left: 0px;
      max-width: 33%; }
    .blk-indicators-wrp:nth-child(2) {
      float: right;
      padding-right: 0px;
      padding-right: 0;
      max-width: 30%; }
  .blk-indicators-item {
    padding: 20px 0px; }
  .blk-indicators-title {
    font-size: 26px; }
  .blk-indicators-info {
    opacity: 0.6; }

.line-title-blk, .blk-title.st-1:after, .blk-title.st-2:after {
  content: '';
  width: 100px;
  height: 4px;
  background-color: #2e4ed6;
  position: absolute;
  bottom: 0;
  left: 0; }

.content-text {
  line-height: 1.8; }

.blk-title {
  font-size: 46px;
  font-weight: 500;
  position: relative;
  padding-bottom: 30px; }
  .blk-title.st-1:after {
    background-color: #2e4ed6; }
  .blk-title.st-2:after {
    background-color: #e0bf22; }

.blk-read-more {
  color: #2e4ed6;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 30px; }
  .blk-read-more-text {
    display: block;
    float: left; }
  .blk-read-more-ico {
    float: left;
    margin: 10px 10px 0px 10px;
    width: 14px;
    height: 8px;
    background-image: url(../img/ico_more.png);
    background-repeat: no-repeat; }
    .blk-read-more-ico:after {
      content: '';
      float: left;
      width: 1000px;
      height: 1px;
      margin: 4px 0px 0px 30px;
      background-color: rgba(46, 78, 214, 0.2); }

.blk-read-more.active .blk-read-more-ico {
  background-position: -64px 0; }

.blk-humans {
  padding-bottom: 95px; }
  .blk-humans-item {
    width: 33.3%;
    float: left;
    text-align: center; }
  .blk-humans-position {
    display: block;
    color: #94969d;
    line-height: 1.6; }
  .blk-humans-name {
    font-size: 26px; }
  .blk-humans-wrp {
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto 28px auto;
    -webkit-border-radius: 75px;
    border-radius: 75px; }

.btn-slider {
  height: 680px;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll; }
  .btn-slider-wrp {
    width: 2560px; }
  .btn-slider-item {
    float: left; }
  .btn-slider-img {
    float: left; }

.jspHorizontalBar {
  height: 40px; }

.jspDrag {
  background-color: #e0bf22;
  background-image: url(../img/ico_slider_bg.png);
  background-repeat: no-repeat;
  background-position: center center; }

/* /content*/
/*footer*/
.footer {
  color: #b9bbc2;
  background-color: #363946;
  background-image: url(../img/bg_footer.jpg);
  background-position: top center;
  position: relative;
  z-index: 1;
  padding-top: 45px; }
  .footer-text {
    text-align: center;
    padding-top: 20px; }

.f-menu-wrp {
  border-bottom: 1px solid #505566;
  padding: 0px 2% 30px 2%; }

.contacts {
  float: right; }
  .contacts-tel {
    color: #b9bbc2;
    font-size: 26px;
    font-style: normal; }
    .contacts-tel:hover {
      color: #ffffff; }

.blk-soc {
  float: right;
  margin-left: 35px; }
  .blk-soc-item {
    float: right; }
  .blk-soc-link {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
    margin-left: 2px;
    background-image: url(../img/ico_soc_footer.png);
    background-repeat: no-repeat;
    position: relative; }
    .blk-soc-link:hover {
      top: 1px; }
    .blk-soc-link.odnkl {
      background-position: -270px 0px; }
    .blk-soc-link.inst {
      background-position: -180px 0px; }
    .blk-soc-link.vk {
      background-position: -90px 0px; }
    .blk-soc-link.fb {
      background-position: 0px 0px; }

.ftr-nav {
  color: #b9bbc2; }
  .ftr-nav-blk-item {
    float: left;
    margin-left: 4%; }
    .ftr-nav-blk-item:first-child {
      margin-left: 0; }
  .ftr-nav-blk-link {
    float: left;
    color: #b9bbc2;
    font-size: 26px; }
    .ftr-nav-blk-link:hover {
      color: #ffffff; }

/*/footer*/
@media (max-width: 1200px) {
  .title-portf {
    font-size: 20px; } }
