footer.page-footer.footer
      section.wrp
        .f-menu-wrp
          address.contacts
            mixin soc(link, cls)
              li.blk-soc-item
                a.blk-soc-link(href="#{link}", target="_blank", class="#{cls}") 
            ul.blk-soc
              +soc('#', 'odnkl')
              +soc('#', 'inst')
              +soc('#', 'vk')
              +soc('#', 'fb')
            a.contacts-tel(href="tel:+74959469460") 8 (495) 946-94-60

          nav.ftr-nav
            ul.ftr-nav-blk
              each val, key in menu
                li.ftr-nav-blk-item
                  a.ftr-nav-blk-link(href=val)= key
        .footer-text © 2015, Ребрус. Все права защищены.

<!-- build:js js/vendor.js --> 
//bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/bx-slider.js/dist/jquery.bxslider.js')
script(src='/bower/jscrollpane/script/jquery.jscrollpane.min.js')
script(src='/bower/jscrollpane/script/jquery.mousewheel.js')
script(src='/bower/wowjs/dist/wow.min.js')
  
//endbower  
<!-- endbuild --> 

<!-- build:js js/main.js --> 
script(src="js/plugins.js")
script(src="js/main.js")
<!-- endbuild --> 
