head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  block title
    title front_prj
  
  meta(name="description", content="тестовое задание на должность frontend developer")
  meta(name="keywords", content="тестовое задание")
  meta(name="author", content="Павел Кондаков") 

  link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
  link(rel='icon', href='/favicon.ico', type="image/x-icon")
  
  <!-- build:css css/vendor.min.css -->
  // bower:css
  link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
  link(rel='stylesheet', href='/bower/bx-slider.js/dist/jquery.bxslider.css')
  link(rel='stylesheet', href='/bower/jscrollpane/style/jquery.jscrollpane.css')
  link(rel='stylesheet', href='/bower/wowjs/css/libs/animate.css')
  // endbower 
  <!-- endbuild -->
  <link href='http://fonts.googleapis.com/css?family=Roboto:500,700,400&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css'>

  <!-- build:css css/main.min.css -->
  link(rel="stylesheet", href="css/main.css") 
  <!-- endbuild -->

  <!-- build:js js/modernizr.min.js -->
  script(src="bower/modernizer/modernizr.js")
  <!-- endbuild -->